{
  "extends": ["react-app", "airbnb", "prettier"],
  "plugins": ["prettier", "you-dont-need-lodash-underscore"],
  "rules": {
    "prettier/prettier": "error",
    "no-console": 0,
    "no-unused-vars": 1,
    "jsx-filename-extension": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }]
  }
}